*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Feed{
    display: flex;
    flex:5;
    height: 100%;
    margin: 0 17.5%;
    max-width: 60%;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid rgb(61, 220, 22); */
    /* margin-left: 16.5%; */
    overflow-x: hidden;
   
    
}
@media screen and (max-width:768px) {
    .Feed{
        margin-top: 8%;
        /* margin-left: 16%; */
    }
    
}
@media screen and (max-width:688px) {
    .Feed{
        margin-top: 12%;
        margin:0%;
        max-width: 100%;
    }
}
@media screen and (max-width:425px) and (min-width:250px) {
    .Feed{
        margin-top: 28%;
    }

    
}