*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Sidebar {
    flex: 3;
    height: 100vh;
    overflow-y: scroll;
    /* position: relative; */
    position: fixed;
    top: 15%;
    left: 0;
    bottom: 0;
    width: 14%;
    /* border:1px solid red; */
    /* padding: % 2%; */
    padding: 1% .5%;
    cursor: pointer;

  }
  .SidebarFriend{
    display: flex;
  }
  ::-webkit-scrollbar{
    width: 5px;

  }
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 0.5em;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }
  .Sidebar svg{
    font-size: 2rem;    
  }
      .SidebarFriendListItem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 10px;
    margin-top: .3rem;
      }
  .SidebarFriend:hover{
    background-color: rgba(211 211 211/40%);
  }
  .SidebarFriendImage{
    width: 35px;
    height: 35px;
    border-radius: 50%;  
     
  }

  .SidebarFriendName{
    font-weight: 555;
    color: black;
  }
  .Sidebarmobile{
    display: none;
    position: fixed;
  }
  @media  screen and (max-width:768px) {
    .Sidebar{
            top: 23%;
            flex: .5;
            width: 16%;
    }
    .SidebarFriend{
        gap: 2%;
        padding: 3px;
        margin-top: 0;
        margin-left: -5px;

    }
    .SidebarFriendImage{
        width: 25px;
        height: 25px;
        border-radius: 50%;  
         
      }
    .SidebarFriend:hover{
        background-color: rgba(211 211 211/40%);
      }
     
    }
    @media screen and (max-width:688px) {
        .Sidebar{
           display: none;
        }
        
        }


  

      
  @media  screen and (max-width:576px) {
    .Sidebar{
        display: none;
    }
    .SidebarFriend{
       display: none;
    }
    .SidebarFriend:hover{
        display: none;
    }

  }